extends layout

block content
    if (user)
        header
            h3#title
                a(href='/') Back to Chat List
            h3 Chatroom: 
                = chatroom.room_name
        div(chatroom_id=chatroom._id) 
        div#app
        script(src='/javascripts/chat.js' type='text/jsx')
