extends layout

block content
  center
    h1. 
      Welcome to Project-Chat
    h4. 
      Created using MongoDB, ExpressJS, ReactJS, and NodeJS
    //-
      if (!user)
        a(href="/login") 
          button.btn.btn-primary(type="button") Log In
        | &nbsp;
        a(href="/register") 
          button.btn.btn-primary(type="button") Sign Up!
          
    if (!user)
      div(current_user=user)
      div#app
      div#users
      a(href="/logout") Logout
      script(src='/javascripts/chatroom.js' type='text/jsx')
