body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error-messages {
	width: 300px;
	text-align: center;
	padding: 15px;
}

ul {
	list-style-type: none;
	padding-left:0;
}
ul li {
	margin: 25px 0 25px 0;
}